*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conatiner{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 84);
    gap: 20px;
    border-radius: 20px;

}

#btn{
    padding: 12px;
    background-color: blue;
    color: azure;
    border-radius: 12px;
    border: none;
}